table {
    width: 100%;
    background-color: transparent !important;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.btnDelete{
    margin-bottom: 10px;
}

.btn-dialog-close{
    margin-right: 0;
    margin-left: auto;
}