
<div class="myClass">
  <mat-toolbar>
    <span>Uredi projekt</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onNoClick()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="editProjectForm" class="normal-form">
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field class="inputWidth">
            <input formControlName="naziv" matInput placeholder="Naziv" required>
            <mat-error>Ovo polje je obavezno!</mat-error>
          </mat-form-field>
          <mat-form-field class="inputWidth">
            <input formControlName="nositelj" matInput placeholder="Nositelj" required>
            <mat-error>Ovo polje je obavezno!</mat-error>
          </mat-form-field>
          <mat-form-field class="inputWidth">
            <input formControlName="vrijednost" type="number" min="1" max="10000000000" matInput placeholder="Vrijednost" required>
            <mat-error>Ovo polje je obavezno! Unesite broj između 1 i 10000000000</mat-error>
          </mat-form-field>
          <mat-form-field class="inputWidth">
            <input matInput formControlName="status" id="projectStatus" placeholder="Status" required>
            <mat-error>Ovo polje je obavezno!</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button color="black" (click)="changeActivity()">Promijeni status</button>
          </div>
          <mat-form-field appearance="fill" class="membersSelect">
            <mat-label>Dodaj članove</mat-label>
            <mat-select formControlName="clanovi" multiple>
              <mat-option [value]="memb.sifra" *ngFor="let memb of membersOnly">{{memb.ime}} {{memb.prezime}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div mat-dialog-actions class="buttons">
            <button mat-raised-button (click)="onNoClick()" class="btnClose">Zatvori</button>
             <button mat-raised-button  class="button is-link is-small" color="primary" (click)="editProject()" [disabled]="editProjectForm.invalid" cdkFocusInitial>Uredi</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>