form{
    text-align: center;

}
.inputWidth{
    width: 200px !important;
}

.btn-dialog-close{
    margin-right: 0;
    margin-left: auto;
}

.myClass .mat-dialog-container {
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg") no-repeat !important;
    padding: 0px !important;

  }
  
  .myClass {
    // background: white !important;
    border-radius: 10px;
  }

    .mat-form-field{
        margin-bottom: 15px !important;
    }